[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
markdown = "*"
pydjantic = "*"
psycopg = {extras = ["binary"], version = "*"}
pytest-django = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
pytest = "*"
pre-commit = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
